body {
    background-color: rgb(35, 35, 35);
}

div#content-wrapper {
    background-color: white;
    margin: 3em auto;
    min-height: 80vh;
    max-width: 900px; /* exception */
    min-width: 900px; /* exception */
}