.alert {
    margin: 36px 0;
    padding: 16px 10px;
    border-left: 5.6px solid;
}

.alert p {
    margin: 16px;
}

.alert-note {
    border-color: #1a73e8;
    background-color: #e8f0fe;
}

.alert-tip {
    border-color: #34a853;
    background-color: #e6f4ea;
}

.alert-important {
    border-color: #7c4dff;
    background-color: #ede7f6;
}

.alert-warning {
    border-color: #fbbc04;
    background-color: #fef7e0;
}

.alert-caution {
    border-color: #ea4335;
    background-color: #fce8e6;
}
