.header {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header>* {
    margin: 0 8px;
}

.header>*:first-child {
    margin-left: 16px;
    margin-right: auto;
}

.header>*:last-child {
    margin-right: 16px;
}
