.index {
    max-width: 100%;
    padding-top: 48px;
    padding-left: 60px;
    padding-right: 16px;
    position: sticky;
    top: 0;
    display: block;
    box-sizing: border-box;
}

.index>ol {
    margin: 8px 0;
    font-size: 14px;
}

.index * {
    color: #777 !important;
}

@media (max-width: 1100px) {
    .index {
        display: none;
    }
}
