html, body {
    -webkit-text-size-adjust: 100%;
    margin: 0;
    height: 100vh;
    background-color: #f5f5f5;
    color: #08131a;
    font-size: 16px;
}

h2 {
    margin: 0;
    margin-top: 54px;
    margin-bottom: -18px;
    font-size: 28px;
    font-weight: 700;
}

p {
    margin: 36px 0;
}

a {
    color: #08131a;
    text-decoration: none;
}

a:hover {
    color: red;
}

ul, ol {
    --navbar-primary-top-margin: 0;
    margin: 36px 0;
    padding: 0;
    padding-left: 24px;
}

li p {
    all: unset;
}

pre {
    margin: 16px 0;
    padding: 24px;
    border-radius: 5px;
    overflow-x: auto;
    overflow-wrap: break-word;
    tab-size: 4;
    -moz-tab-size: 4;
}
