.catch {
    margin-top: 48px;
    width: 100%;
    user-select: none;
}

.card {
    margin: 16px 0;
}

.card>a:first-child {
    font-size: 28px;
    font-weight: 700;
}

.filter-display {
    text-align: center;
}
