.triad {
    display: flex;
    flex: 1;
    min-height: 0;
}

.triad-side {
    flex: 1;
}

.triad-center {
    width: 100%;
    max-width: 620px;
}

@media (max-width: 652px) {
    .triad-center {
      padding: 16px;
    }
}
