a.option {
    color: red;
    text-decoration: none;
}

body {
    background-image: url("img/background.png");
    background-repeat: repeat;
    background-attachment: fixed;
    color: white;
    margin: 0;
}

div.warning {
    background-color: black;
    box-sizing: border-box;
    padding: 1em;
    text-align: center;
    width: 100%;
}

div.option {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    width: 50%;
}

div#footer {
    bottom: 0;
    color: white;
    font-size: 0.8em;
    position: absolute;
}

p.text {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.5em 1em;
}

p.title {
    background-color: black;
    color: red;
    font-size: 2em;
    margin: 0;
    padding: 0.5em 1em;
}