/* ================================================================================================================= */
/*     Utility                                                                                                       */
/* ================================================================================================================= */

.ta-right {
    text-align: right;
}

/* ================================================================================================================= */
/*     Tags                                                                                                          */
/* ================================================================================================================= */

body {
    -webkit-text-size-adjust: 100%;
    background-color: rgb(35, 35, 35);
    display: flex;
    flex-flow: column;
    font-size: 16px;
    margin: 0;
    min-height: 100vh;
}

a {
    color: black;
}

a:hover {
    color: red;
}

b {
    color: red;
}

h2 {
    padding: 0.25rem 0.8rem;
    background: transparent;
    border-left: solid 0.5rem black;
}

div#content {
    box-sizing: border-box;
    background-color: white;
    margin: 1rem auto;
    padding: 1.5rem;
    min-width: 950px;
    max-width: 950px;
}

/* ================================================================================================================= */
/*     Responsive                                                                                                    */
/* ================================================================================================================= */

@media screen and (max-width: 950px) {
    div#content {
        min-width: 0;
        width: 100%;
    }
}