div#all {
    display: flex;
}

img {
    max-width: 300px;
    max-height: 300px;
}

table {
    border: solid 1px white;
}

td.thumb {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    border: solid 1px white;
    padding: 5px;
}
td.tag {
    background-color: rgba(0, 0, 0, 0.6);
    border: solid 1px white;
    font-size: 0.8em;
    padding: 5px;
}

th {
    background-color: rgba(0, 0, 0, 0.6);
    border: solid 2px white;
    padding: 10px;
}