div#all {
    display: flex;
    flex-wrap: wrap;
}

img {
    max-width: 380px;
    max-height: 280px;
}

table {
    border: solid 1px white;
    min-width: 400px;
}

td.thumb {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    border: solid 1px white;
    padding: 5px;
    max-width: 400px;
    max-height: 300px;
}
td.tag {
    background-color: rgba(0, 0, 0, 0.6);
    border: solid 1px white;
    font-size: 0.8em;
    padding: 5px;
}

th {
    border: solid 2px white;
    padding: 10px;
    height: 60px;
    white-space: nowrap;
}

th.image {
    background-color: rgba(20, 0, 0, 0.6);
}

th.comic {
    background-color: rgba(0, 0, 20, 0.6);
}

th.novel {
    background-color: rgba(0, 20, 0, 0.6);
}