.nmnbnr {
  background-color: #e2041b;
}

.nmnb {
  background-color: #ea5506;
}

.nmnr {
  background-color: #864084;
}

.nm {
  background-color: #cc5bc8;
}

.nbnr {
  background-color: #1e50a2;
}

.nb {
  background-color: #0c9ea8;
}

.c {
  background-color: #2d7555;
}