---
---

<div class="footer">
	2022-2024, Tengu712, Skydog Association
</div>
<style>
	.footer {
		margin: 0 auto;
		padding-top: 2.5rem;
		padding-bottom: 1rem;
		color: white;
		text-align: center;
	}
</style>
