---
---

<div class="header">
	<a href="/">天狗会議録</a>
	<div class="horizontal-spacer"></div>
	<a href="/">Posts</a>
	<a href="/pages">Pages</a>
	<a href="/about">About</a>
</div>
<div class="header-spacer"></div>
<style is:global>
	.header {
		background-color: rgb(35, 35, 35);
		color: white;
		position: fixed;
		left: 0;
		top: 0;
		display: flex;
		max-width: 100%;
		min-width: 100%;
		padding: 0.5rem 0;
		z-index: 1;
	}
	.header .horizontal-spacer {
		flex-grow: 1;
	}
	.header a {
		color: white;
		text-decoration: none;
	}
	.header a:hover {
		color: red;
		text-decoration: none;
	}
	.header * {
		padding: 0 0.5rem;
	}
	.header *:first-child {
		padding-left: 1rem;
	}
	.header *:last-child {
		padding-right: 1rem;
	}
	.header-spacer {
		height: 2.5rem;
	}
</style>
