---
---

<div class="header">
	<a href="/">天狗会議録</a>
	<div class="horizontal-spacer"></div>
	<a href="/">Posts</a>
	<a href="/pages">Pages</a>
	<a href="/about">About</a>
</div>
<div class="header-spacer"></div>
<style>
	.header {
		background-color: rgb(35, 35, 35);
		color: white;
		position: fixed;
		left: 0;
		top: 0;
		display: flex;
		max-width: 100%;
		min-width: 100%;
		padding: 0.5rem 0;
		z-index: 1;
		.horizontal-spacer {
			flex-grow: 1;
		}
		a {
			padding: 0 0.5rem;
			color: white;
			text-decoration: none;
		}
		a:hover {
			color: red;
			text-decoration: none;
		}
		a:first-child {
			padding-left: 1rem;
		}
		a:last-child {
			padding-right: 1rem;
		}
	}
	.header-spacer {
		height: 2.5rem;
	}
</style>
