---
interface Props {
    src: string;
    caption: string;
}

const {src, caption} = Astro.props;
---

<div class="image">
    <img src={src}>
    <br>
    <label>{caption}</label>
</div>
<style is:global>
    .image {
        margin: 0 auto;
        text-align: center;
    }
    .image img {
        max-width: 80%;
    }
    .image label {
        font-style: italic;
    }
</style>
