---
---

<p class="tombstone">■</p>
<div class="post-footer">
    <hr>
</div>
<style is:global>
    .tombstone {
        text-align: right;
    }
    .post-footer {
        margin-top: auto;
    }
</style>
