---
import TagsDate from './TagsDate.astro';

interface Props {
	title: string;
	genre: string;
	tags: string[];
	date: string;
}
const {title, genre, tags, date} = Astro.props;
---

<div class="post-header">
	<div class="title">{title}</div>
	<TagsDate genre={genre} tags={tags} date={date} />
	<hr>
</div>
<style>
	.post-header .title {
		/* 600px:1.25 800px:2 */
		font-size: clamp(1.25rem, -1rem + 6vw, 2rem);
		font-weight: bold;
		padding-top: 1.5rem;
		padding-bottom: 1rem;
	}
	.post-header::-webkit-scrollbar {
		display: none;
	}
</style>
