pre.codeblock {
    background: #202020;
    color: white;
    font-family:
        'Noto Sans Mono CJK JP',
        'Source Han Code JP',
        SFMono-Regular,
        Consolas,
        'Roboto Mono',
        'Courier New',
        Meiryo,
        monospace;
    overflow-x: scroll;
}

pre.codeblock>span.error {
    color: red;
    font-weight: bold;
}

pre.codeblock>span.directive,
pre.codeblock>span.comment {
    color: #7d7a68;
}

pre.codeblock>span.string {
    color: #dda17c;
}

pre.codeblock>span.literal {
    color: #dc785a;
}

pre.codeblock>span.keyword {
    color: #e290e9;
}

pre.codeblock>span.id {
    color: #baefff;
}

pre.codeblock>span.const {
    color: #28c2ff;
}

pre.codeblock>span.function {
    color: #fff8b9;
}

pre.codeblock>span.utype {
    color: #4EDCB0;
}

pre.codeblock>span.type {
    color: #5190d4;
}

pre.codeblock>span.escape {
    color: orange;
}
