---
import Content from '../components/Content.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<div id="content-wrapper">
			<Content>
				<slot />
			</Content>
		</div>
		<Footer />
	</body>
</html>

<style is:global>
	html,
	body {
		-webkit-text-size-adjust: 100%;
		font-family: 'Noto Sans JP', sans-serif;
		background-color: rgb(35, 35, 35);
		display: flex;
		flex-flow: column;
		font-size: 16px;
		margin: 0;
		min-height: 100vh;
	}
	#content-wrapper {
		display: flex;
		flex-flow: column;
		box-sizing: border-box;
		background-color: white;
		margin: 0 auto;
		max-width: 800px;
		flex-grow: 1;
	}
</style>
