name: publish

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - uses: actions/checkout@v4
        with:
          path: skdassoc.com

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - run: cargo run

      - name: Check
        run: test $(( $(find pages public -type f | wc -l) + 2 )) -eq $(find dist -type f | wc -l)

      - uses: actions/upload-pages-artifact@v3
        with:
          path: dist

  deploy:
    needs: build
    permissions:
      id-token: write
      pages: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
